{% load static %}
<!doctype html>
<html class="h-full scroll-smooth bg-white antialiased">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="https://www.svgrepo.com/show/354238/python.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{% static 'css/font.css' %}" rel="stylesheet">
</style>
</head>
<body class="flex h-full text-center flex-col bg-white-900 text-stone-800" style="font-family:'General Sans'">
    <div class="tems-center max-w-7xl px-4 sm:px-6 lg:px-8 pb-16 pt-20 text-center lg:pt-32">
  <h1 class="text-4xl font-semibold">
    Obloev Komronbek
  </h1>
  <h2 class="text-2xl">
    <span class="text-sky-800 font-semibold">ok7uz</span> | Python Developer
  </h2>
  </p>
  <hr class="mt-3">
  {% for project in projects %}
    <h3 class="text-xl text-left font-semibold text-blue-600 mt-3">{{ project.name }}</h3>
    <p class="text-stone-600 text-left">{{ project.description }}</p>
    <p class="text-left mt-1">
      {% for tag in project.tags.all %}
        <span class="inline-flex items-center rounded-md bg-blue-100 px-2 py-1 text-xs font-medium text-blue-800 ring-1 ring-inset ring-blue-700/10">{{ tag.name }}</span>
      {% endfor %}
      </p><hr class="mt-4">
    {% endfor %}
</div>
</body>
</html>